In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("../Data/insurance_claims.csv")
df

,months_as_customer,age,policy_number,policy_bind_date,policy_state,policy_csl,policy_deductable,policy_annual_premium,umbrella_limit,insured_zip,...,police_report_available,total_claim_amount,injury_claim,property_claim,vehicle_claim,auto_make,auto_model,auto_year,fraud_reported,_c39
0,328,48,521585,2014-10-17,OH,250/500,1000,1406.91,0,466132,...,YES,71610,6510,13020,52080,Saab,92x,2004,Y,NaN
1,228,42,342868,2006-06-27,IN,250/500,2000,1197.22,5000000,468176,...,?,5070,780,780,3510,Mercedes,E400,2007,Y,NaN
2,134,29,687698,2000-09-06,OH,100/300,2000,1413.14,5000000,430632,...,NO,34650,7700,3850,23100,Dodge,RAM,2007,N,NaN
3,256,41,227811,1990-05-25,IL,250/500,2000,1415.74,6000000,608117,...,NO,63400,6340,6340,50720,Chevrolet,Tahoe,2014,Y,NaN
4,228,44,367455,2014-06-06,IL,500/1000,1000,1583.91,6000000,610706,...,NO,6500,1300,650,4550,Accura,RSX,2009,N,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,3,38,941851,1991-07-16,OH,500/1000,1000,1310.80,0,431289,...,?,87200,17440,8720,61040,Honda,Accord,2006,N,NaN
996,285,41,186934,2014-01-05,IL,100/300,1000,1436.79,0,608177,...,?,108480,18080,18080,72320,Volkswagen,Passat,2015,N,NaN
997,130,34,918516,2003-02-17,OH,250/500,500,1383.49,3000000,442797,...,YES,67500,7500,7500,52500,Suburu,Impreza,1996,N,NaN
998,458,62,533940,2011-11-18,IL,500/1000,2000,1356.92,5000000,441714,...,YES,46980,5220,5220,36540,Audi,A5,1998,N,NaN
999,456,60,556080,1996-11-11,OH,250/500,1000,766.19,0,612260,...,?,5060,460,920,3680,Mercedes,E400,2007,N,NaN

In [3]:
df.columns

Index(['months_as_customer', 'age', 'policy_number', 'policy_bind_date',
       'policy_state', 'policy_csl', 'policy_deductable',
       'policy_annual_premium', 'umbrella_limit', 'insured_zip', 'insured_sex',
       'insured_education_level', 'insured_occupation', 'insured_hobbies',
       'insured_relationship', 'capital-gains', 'capital-loss',
       'incident_date', 'incident_type', 'collision_type', 'incident_severity',
       'authorities_contacted', 'incident_state', 'incident_city',
       'incident_location', 'incident_hour_of_the_day',
       'number_of_vehicles_involved', 'property_damage', 'bodily_injuries',
       'witnesses', 'police_report_available', 'total_claim_amount',
       'injury_claim', 'property_claim', 'vehicle_claim', 'auto_make',
       'auto_model', 'auto_year', 'fraud_reported', '_c39'],
      dtype='object')

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 40 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   months_as_customer           1000 non-null   int64
 1   age                          1000 non-null   int64
 2   policy_number                1000 non-null   int64
 3   policy_bind_date             1000 non-null   object
 4   policy_state                 1000 non-null   object
 5   policy_csl                   1000 non-null   object
 6   policy_deductable            1000 non-null   int64
 7   policy_annual_premium        1000 non-null   float64
 8   umbrella_limit               1000 non-null   int64
 9   insured_zip                  1000 non-null   int64
 10  insured_sex                  1000 non-null   object
 11  insured_education_level      1000 non-null   object
 12  insured_occupation           1000 non-null   object
 13  insured_hobbies              1000 non-null   object
 14  insured_relationship         1000 non-null   object
 15  capital-gains                1000 non-null   int64
 16  capital-loss                 1000 non-null   int64
 17  incident_date                1000 non-null   object
 18  incident_type                1000 non-null   object
 19  collision_type               1000 non-null   object
 20  incident_severity            1000 non-null   object
 21  authorities_contacted        909 non-null    object
 22  incident_state               1000 non-null   object
 23  incident_city                1000 non-null   object
 24  incident_location            1000 non-null   object
 25  incident_hour_of_the_day     1000 non-null   int64
 26  number_of_vehicles_involved  1000 non-null   int64
 27  property_damage              1000 non-null   object
 28  bodily_injuries              1000 non-null   int64
 29  witnesses                    1000 non-null   int64
 30  police_report_available      1000 non-null   object
 31  total_claim_amount           1000 non-null   int64
 32  injury_claim                 1000 non-null   int64
 33  property_claim               1000 non-null   int64
 34  vehicle_claim                1000 non-null   int64
 35  auto_make                    1000 non-null   object
 36  auto_model                   1000 non-null   object
 37  auto_year                    1000 non-null   int64
 38  fraud_reported               1000 non-null   object
 39  _c39                         0 non-null      float64
dtypes: float64(2), int64(17), object(21)
memory usage: 312.6+ KB

In [5]:
df.isnull().sum()

months_as_customer                0
age                               0
policy_number                     0
policy_bind_date                  0
policy_state                      0
policy_csl                        0
policy_deductable                 0
policy_annual_premium             0
umbrella_limit                    0
insured_zip                       0
insured_sex                       0
insured_education_level           0
insured_occupation                0
insured_hobbies                   0
insured_relationship              0
capital-gains                     0
capital-loss                      0
incident_date                     0
incident_type                     0
collision_type                    0
incident_severity                 0
authorities_contacted            91
incident_state                    0
incident_city                     0
incident_location                 0
incident_hour_of_the_day          0
number_of_vehicles_involved       0
property_damage                   0
bodily_injuries                   0
witnesses                         0
police_report_available           0
total_claim_amount                0
injury_claim                      0
property_claim                    0
vehicle_claim                     0
auto_make                         0
auto_model                        0
auto_year                         0
fraud_reported                    0
_c39                           1000
dtype: int64

In [6]:
df.drop(columns=['_c39'],inplace=True)

In [7]:
df['authorities_contacted'].unique()

array(['Police', nan, 'Fire', 'Other', 'Ambulance'], dtype=object)

In [8]:
df.duplicated().sum()

np.int64(0)

In [9]:
df.describe()

,months_as_customer,age,policy_number,policy_deductable,policy_annual_premium,umbrella_limit,insured_zip,capital-gains,capital-loss,incident_hour_of_the_day,number_of_vehicles_involved,bodily_injuries,witnesses,total_claim_amount,injury_claim,property_claim,vehicle_claim,auto_year
count,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1.000000e+03,1000.000000,1000.000000,1000.000000,1000.000000,1000.00000,1000.000000,1000.000000,1000.00000,1000.000000,1000.000000,1000.000000,1000.000000
mean,203.954000,38.948000,546238.648000,1136.000000,1256.406150,1.101000e+06,501214.488000,25126.100000,-26793.700000,11.644000,1.83900,0.992000,1.487000,52761.94000,7433.420000,7399.570000,37928.950000,2005.103000
std,115.113174,9.140287,257063.005276,611.864673,244.167395,2.297407e+06,71701.610941,27872.187708,28104.096686,6.951373,1.01888,0.820127,1.111335,26401.53319,4880.951853,4824.726179,18886.252893,6.015861
min,0.000000,19.000000,100804.000000,500.000000,433.330000,-1.000000e+06,430104.000000,0.000000,-111100.000000,0.000000,1.00000,0.000000,0.000000,100.00000,0.000000,0.000000,70.000000,1995.000000
25%,115.750000,32.000000,335980.250000,500.000000,1089.607500,0.000000e+00,448404.500000,0.000000,-51500.000000,6.000000,1.00000,0.000000,1.000000,41812.50000,4295.000000,4445.000000,30292.500000,2000.000000
50%,199.500000,38.000000,533135.000000,1000.000000,1257.200000,0.000000e+00,466445.500000,0.000000,-23250.000000,12.000000,1.00000,1.000000,1.000000,58055.00000,6775.000000,6750.000000,42100.000000,2005.000000
75%,276.250000,44.000000,759099.750000,2000.000000,1415.695000,0.000000e+00,603251.000000,51025.000000,0.000000,17.000000,3.00000,2.000000,2.000000,70592.50000,11305.000000,10885.000000,50822.500000,2010.000000
max,479.000000,64.000000,999435.000000,2000.000000,2047.590000,1.000000e+07,620962.000000,100500.000000,0.000000,23.000000,4.00000,2.000000,3.000000,114920.00000,21450.000000,23670.000000,79560.000000,2015.000000

In [10]:
df['months_as_customer'].unique()

array([328, 228, 134, 256, 137, 165,  27, 212, 235, 447,  60, 121, 180,
       473,  70, 140, 160, 196, 460, 217, 370, 413, 237,   8, 257, 202,
       224, 241,  64, 166, 155, 114, 149, 147,  62, 289, 431, 199,  79,
       116,  37, 106, 269, 265, 163, 355, 175, 192, 430,  91, 223, 195,
        22, 439,  94,  11, 151, 154, 245, 119, 215, 295, 254, 107, 478,
       128, 338, 271, 222, 120, 270, 319, 194, 227, 244,  78, 200, 284,
       275, 153,  31,  41, 127,  61, 207, 219,  80, 325,  29, 239, 279,
       350, 464, 118, 298,  87, 261, 453, 210, 168, 390, 258, 225, 164,
       255, 206, 203, 211, 274,  81, 280, 112,  24,  93, 171, 124, 287,
       122, 398, 214, 209,  82, 193, 288, 104, 101, 375, 461, 428,  45,
       136, 216, 278, 108,  14, 276,  47,  73, 294, 324,  53, 426, 111,
        86, 296, 125, 177, 238, 449, 252, 359,  19, 285,  30, 342, 468,
       343, 404,  63, 335, 142, 272,  69,  38, 281, 246, 330, 362, 371,
       377, 172,  99, 249, 190, 174,  95,   2, 117, 242, 440,  20, 208,
       156, 232,  84, 394,  35, 369, 332, 243, 264,  32, 259, 186, 201,
       436, 189, 105,  88,  40,  59,  39, 123, 231, 247,  48, 267, 286,
       253,  10, 158,   1,  85, 233, 266,  97, 399, 305, 129, 283,  96,
       176, 159, 290, 299,  66, 334, 429,  15, 230, 250,  65, 475,  77,
       229, 110, 292, 451, 150, 291, 162, 309, 396, 273, 419, 315,  72,
       157, 113, 115, 236,   7, 126, 297, 406, 146, 409,   6, 103, 344,
       437,  56, 277, 138,   4, 167, 467, 310, 143, 102, 303, 152, 144,
       414, 352,  33, 347, 410, 448, 218,  43, 411, 360, 300,  67, 380,
       389, 317, 191, 321,   0, 405, 304,  26,  12,  83, 184, 479,   5,
       220, 316, 379, 354, 169, 339, 131, 313, 337, 204, 364, 185, 251,
       392, 402, 182, 282, 415,  51, 130, 463, 472,  75,   3,  98,  16,
       438, 422,  34, 183, 356, 109, 198, 446, 435, 434,  25, 148, 145,
       263,  46, 234, 456,  58, 293, 385, 100, 373, 322,  76,  54,  92,
       173, 366, 188,  89, 458, 161, 476, 133, 320, 421, 135,  57, 187,
       386, 197, 179, 132,   9, 427,  13, 312, 260, 141, 441, 381, 178,
       425,  55,  90,  36, 308, 412, 465, 407, 205, 372, 213, 240,  50,
        17])

In [11]:
df['age'].unique()

array([48, 42, 29, 41, 44, 39, 34, 37, 33, 61, 23, 38, 58, 26, 31, 62, 55,
       40, 35, 43, 45, 25, 30, 28, 49, 54, 47, 59, 27, 56, 32, 36, 64, 60,
       51, 46, 50, 57, 53, 24, 52, 19, 21, 63, 20, 22])

In [12]:
df['insured_sex'].value_counts()

insured_sex
FEMALE    537
MALE      463
Name: count, dtype: int64

In [13]:
df['insured_education_level'].value_counts()

insured_education_level
JD             161
High School    160
Associate      145
MD             144
Masters        143
PhD            125
College        122
Name: count, dtype: int64

In [14]:
df['insured_occupation'].value_counts()

insured_occupation
machine-op-inspct    93
prof-specialty       85
tech-support         78
sales                76
exec-managerial      76
craft-repair         74
transport-moving     72
priv-house-serv      71
other-service        71
armed-forces         69
adm-clerical         65
protective-serv      63
handlers-cleaners    54
farming-fishing      53
Name: count, dtype: int64

In [15]:
df['insured_hobbies'].value_counts()

insured_hobbies
reading           64
exercise          57
paintball         57
bungie-jumping    56
movies            55
camping           55
golf              55
kayaking          54
yachting          53
hiking            52
video-games       50
base-jumping      49
skydiving         49
board-games       48
polo              47
chess             46
dancing           43
sleeping          41
cross-fit         35
basketball        34
Name: count, dtype: int64

In [16]:
df['insured_hobbies'].unique()

array(['sleeping', 'reading', 'board-games', 'bungie-jumping',
       'base-jumping', 'golf', 'camping', 'dancing', 'skydiving',
       'movies', 'hiking', 'yachting', 'paintball', 'chess', 'kayaking',
       'polo', 'basketball', 'video-games', 'cross-fit', 'exercise'],
      dtype=object)

In [17]:
df['insured_zip'].unique()

array([466132, 468176, 430632, 608117, 610706, 478456, 441716, 603195,
       601734, 600983, 462283, 615561, 432220, 464652, 476685, 458733,
       619884, 470610, 472135, 477670, 618845, 442479, 443920, 453148,
       434733, 613982, 436984, 607730, 609837, 432211, 473328, 610393,
       614780, 472248, 603381, 479224, 430141, 620757, 615901, 474615,
       456446, 470577, 441648, 433782, 468104, 459407, 472573, 433473,
       446326, 435481, 477310, 609930, 603993, 437818, 478423, 467784,
       606714, 464691, 431683, 431725, 609216, 452787, 468767, 435489,
       450149, 458364, 476458, 602433, 478575, 449718, 463181, 441992,
       452597, 614417, 472895, 475847, 476978, 600648, 608335, 471600,
       441175, 603123, 457767, 618498, 605486, 617970, 432934, 456762,
       601748, 607763, 436973, 471300, 453277, 465100, 603248, 601112,
       438830, 464959, 439787, 464839, 448984, 440327, 460742, 446895,
       609374, 451672, 604450, 432896, 618929, 451312, 605141, 459504,
       432781, 452748, 618316, 455365, 470603, 475292, 467743, 460675,
       618123, 607452, 606352, 603527, 445601, 603948, 435758, 611586,
       465263, 617858, 607889, 455689, 450341, 431277, 454656, 605169,
       444822, 447442, 474360, 447925, 451586, 477519, 603639, 463993,
       441491, 469429, 472214, 614945, 476727, 438555, 440961, 616714,
       434247, 436547, 619540, 466283, 449557, 473329, 470117, 600702,
       615921, 475588, 609409, 479852, 452249, 441536, 601617, 442598,
       430987, 430104, 612904, 430886, 467947, 604804, 460308, 618862,
       462479, 457555, 459984, 434982, 614233, 605258, 604377, 434923,
       476456, 446788, 477382, 600275, 461958, 472720, 442395, 455340,
       613247, 454985, 468813, 452747, 615611, 451400, 464874, 452496,
       430714, 472634, 608371, 468168, 464107, 466959, 443522, 441726,
       473412, 466201, 469621, 466676, 615346, 440106, 450332, 615226,
       437688, 437387, 458139, 443191, 613647, 460820, 431121, 619735,
       470485, 620473, 449800, 602402, 452456, 439269, 617774, 477678,
       444913, 456602, 451560, 453407, 618655, 612550, 466718, 617947,
       606238, 463842, 610354, 461328, 458727, 452587, 433184, 451280,
       603269, 442632, 447300, 441783, 468702, 467942, 463678, 615220,
       432711, 463583, 439502, 613287, 620104, 431531, 605408, 457551,
       619892, 445853, 475483, 606290, 611852, 444734, 433683, 448882,
       466838, 605490, 466137, 466970, 474801, 450703, 478172, 604668,
       471806, 475705, 459122, 476737, 460359, 452735, 613583, 605692,
       438178, 449221, 459322, 472657, 608331, 438546, 441981, 602177,
       441659, 614812, 458470, 469646, 611118, 465158, 457130, 607893,
       464736, 476198, 444903, 464336, 471453, 466191, 440930, 430380,
       613178, 460564, 439929, 605756, 451184, 459588, 616637, 447979,
       460176, 459429, 465456, 464665, 430853, 615712, 608228, 457535,
       442540, 455332, 439534, 462420, 448913, 440837, 466634, 446435,
       438237, 468313, 476303, 450339, 476502, 600561, 600754, 439304,
       460722, 618632, 452204, 454530, 474848, 435985, 457942, 436522,
       471704, 455810, 446544, 461919, 470128, 462836, 475407, 473611,
       608425, 476227, 452701, 456789, 600904, 450889, 478837, 611322,
       438180, 449793, 450730, 608758, 445339, 438328, 479913, 460760,
       444797, 436711, 432491, 617527, 601213, 604138, 431361, 477695,
       612597, 445638, 476185, 435995, 430232, 443861, 460801, 605121,
       458622, 478661, 435299, 601961, 604328, 614385, 438584, 478703,
       615683, 455672, 602942, 616706, 473243, 435552, 434206, 469895,
       457722, 473645, 619108, 610479, 474998, 616341, 460535, 606487,
       620737, 445904, 464145, 466818, 464237, 618455, 616126, 468508,
       431937, 448603, 444500, 601117, 615383, 434342, 435100, 431278,
       445648, 448857, 435267, 461275, 613816, 608767, 620869, 478981,
       464630, 466303, 452647, 441370, 619166, 472803, 442308, 469383,
       614383, 438617, 613936, 472163, 447458, 474792, 470559, 432399,
       607605, 600153, 465979, 466555, 444155, 465764, 446898, 453274,
       479320, 443462, 446158, 602514, 477356, 434669, 609322, 614265,
       606177, 461514, 454685, 477260, 469126, 443402, 479408, 467227,
       468433, 604289, 471366, 450746, 614948, 473935, 617267, 470670,
       450368, 448809, 469653, 615688, 465631, 443344, 441363, 462683,
       463184, 612826, 433155, 616120, 461744, 475916, 454434, 464353,
       610302, 462106, 431389, 442866, 446755, 464743, 437889, 473638,
       444232, 458237, 441499, 613436, 448912, 468872, 619811, 614166,
       456600, 618405, 430832, 610989, 447750, 608708, 469650, 602304,
       459878, 441142, 465667, 473109, 619794, 602258, 479724, 442210,
       463291, 474898, 431354, 617460, 609317, 479821, 473394, 603882,
       615229, 620197, 438215, 444583, 471866, 616884, 448310, 478902,
       442695, 613826, 476203, 604333, 442604, 435663, 470866, 612908,
       441871, 431496, 436499, 469853, 605369, 448466, 432786, 473591,
       618418, 444558, 457733, 466161, 450800, 458993, 468634, 461264,
       600184, 604874, 462377, 619657, 437323, 432148, 439690, 601848,
       615821, 472475, 457463, 604861, 471519, 618682, 441425, 609336,
       603320, 615446, 435967, 610246, 479327, 468300, 612660, 466691,
       468515, 614521, 465921, 604555, 616276, 463356, 450184, 466393,
       471786, 602289, 445120, 449260, 472724, 475173, 443854, 461418,
       616164, 620962, 465201, 470488, 462250, 436408, 464230, 478609,
       437156, 432218, 620493, 475391, 440720, 606942, 446971, 470538,
       601177, 451470, 438529, 469742, 435534, 442239, 468986, 606988,
       453719, 475524, 617804, 613399, 453400, 615767, 615311, 468470,
       461383, 457727, 613327, 614941, 440680, 609949, 479655, 439964,
       478486, 466498, 430878, 600127, 431968, 462804, 435809, 453193,
       459630, 608982, 452218, 434150, 460579, 442142, 608807, 433153,
       436560, 436784, 430621, 601574, 433853, 453164, 613931, 607458,
       463835, 613945, 432699, 613119, 472922, 613849, 603827, 467780,
       460586, 613842, 435371, 466289, 436173, 457234, 474758, 477373,
       613471, 601581, 612102, 460263, 479134, 451467, 602670, 613607,
       611556, 435518, 465942, 446174, 611651, 446657, 612506, 618493,
       612664, 473653, 454529, 437422, 619470, 442666, 620507, 614867,
       609898, 450702, 600418, 431202, 457793, 470190, 603733, 465136,
       611723, 608963, 454139, 447560, 444378, 616583, 455913, 454399,
       602842, 459428, 613114, 450709, 444626, 601206, 470389, 615218,
       606249, 616161, 442335, 604952, 441533, 471784, 453265, 444922,
       474324, 441298, 446606, 459537, 440757, 604948, 433275, 608309,
       462767, 471785, 601397, 477636, 441967, 454776, 431532, 614169,
       601425, 477346, 613587, 620358, 617699, 430567, 439870, 438837,
       458997, 604147, 606638, 619620, 441671, 610381, 602416, 459562,
       463271, 458132, 448949, 603732, 608929, 469875, 443342, 456363,
       470826, 458582, 454480, 435632, 442206, 468303, 467762, 447188,
       469438, 462519, 432534, 436467, 465674, 442389, 471614, 442936,
       437944, 473705, 469363, 465376, 438775, 457962, 477947, 431104,
       456570, 612986, 615730, 478640, 470510, 439360, 440251, 600313,
       452216, 478532, 616929, 620207, 605743, 472814, 464362, 456203,
       468984, 473349, 474771, 448294, 606606, 605220, 466612, 463331,
       457843, 609226, 452942, 609390, 446608, 602500, 463809, 611996,
       459298, 468158, 440831, 603848, 617739, 607133, 437470, 461372,
       476130, 452438, 460517, 444896, 448722, 477856, 617721, 454176,
       618127, 441923, 604279, 440833, 451550, 431853, 614274, 619148,
       456781, 434293, 460895, 601600, 465440, 455482, 438877, 479824,
       477415, 614372, 465248, 449421, 445856, 608525, 608813, 459295,
       606144, 476315, 475891, 462525, 606283, 465252, 449979, 604681,
       466390, 612316, 474731, 603260, 434370, 478388, 617883, 464808,
       609458, 432405, 457875, 477268, 437580, 457121, 436364, 467654,
       471148, 468202, 456959, 447274, 608405, 472253, 438923, 607131,
       601701, 469220, 433250, 444413, 433593, 458143, 474167, 476413,
       600208, 618926, 606219, 448436, 447976, 472236, 468232, 620819,
       452349, 464646, 472209, 459955, 473389, 616767, 442948, 458936,
       613921, 474598, 440865, 450947, 473370, 463153, 612546, 442919,
       449352, 470104, 459889, 478868, 463307, 453620, 466238, 607697,
       477631, 443625, 472223, 608328, 474860, 606858, 477938, 462698,
       454552, 471585, 455426, 469856, 454191, 468454, 614187, 433974,
       604833, 447469, 451529, 448190, 453713, 440153, 619570, 478947,
       443550, 477644, 433981, 433696, 443567, 430665, 431289, 608177,
       442797, 441714, 612260])

In [18]:
df['policy_number'].unique()

array([521585, 342868, 687698, 227811, 367455, 104594, 413978, 429027,
       485665, 636550, 543610, 214618, 842643, 626808, 644081, 892874,
       558938, 275265, 921202, 143972, 183430, 431876, 285496, 115399,
       736882, 699044, 863236, 608513, 914088, 596785, 908616, 666333,
       336614, 584859, 990493, 129872, 200152, 933293, 485664, 982871,
       206213, 616337, 448961, 790442, 108844, 430029, 529112, 939631,
       866931, 582011, 691189, 537546, 394975, 729634, 282195, 420810,
       524836, 307195, 623648, 485372, 598554, 303987, 343161, 519312,
       132902, 332867, 356590, 346002, 500533, 348209, 486676, 260845,
       657045, 761189, 175177, 116700, 166264, 527945, 627540, 279422,
       484200, 645258, 694662, 960680, 498140, 498875, 798177, 614763,
       679370, 958857, 686816, 127754, 918629, 731450, 307447, 992145,
       900628, 235220, 740019, 246882, 797613, 193442, 389238, 760179,
       939905, 872814, 632627, 283414, 163161, 853360, 776860, 149367,
       395269, 981123, 143626, 648397, 154982, 330591, 319232, 531640,
       368050, 253791, 155724, 824540, 717392, 965768, 414779, 428230,
       517240, 469874, 718428, 620215, 618659, 649082, 437573, 964657,
       932502, 434507, 935277, 756054, 682387, 456604, 139872, 354105,
       165485, 515050, 795686, 395983, 119513, 217938, 203914, 565157,
       904191, 419510, 575000, 120485, 781181, 299796, 589749, 854021,
       454086, 139484, 678849, 346940, 985436, 237418, 335780, 491392,
       140880, 962591, 922565, 288580, 154280, 425973, 477177, 648509,
       914815, 249048, 144323, 651861, 125324, 398102, 514065, 391652,
       922167, 442795, 226330, 134430, 524230, 438817, 293794, 868283,
       828890, 882920, 918777, 212580, 602410, 976971, 630226, 171254,
       247116, 505969, 653864, 586367, 896890, 650026, 547744, 598124,
       436126, 739447, 427484, 218684, 565564, 743163, 604614, 509928,
       593390, 970607, 174701, 529398, 940942, 442677, 365364, 114839,
       872734, 267885, 740505, 629663, 839884, 241562, 405533, 667021,
       511621, 476923, 735822, 492745, 130930, 261119, 280709, 898573,
       547802, 600845, 390381, 629918, 208298, 513099, 184938, 187775,
       326322, 146138, 336047, 532330, 118137, 212674, 935596, 737593,
       812025, 168151, 594739, 843227, 283925, 475588, 751905, 226725,
       942504, 395572, 889883, 818167, 277767, 842618, 577810, 873114,
       994538, 727792, 522506, 367595, 586104, 424862, 512813, 356768,
       330506, 779075, 799501, 987905, 967756, 830414, 127313, 786957,
       332892, 448642, 526039, 444422, 689500, 806081, 384618, 756459,
       655787, 419954, 275092, 515698, 132871, 714929, 297816, 426708,
       615047, 771236, 235869, 931625, 371635, 427199, 261315, 582973,
       278091, 153154, 515217, 860497, 351741, 403737, 162004, 740384,
       876714, 951543, 576723, 391003, 225865, 984948, 890328, 803294,
       414913, 414519, 818413, 487356, 159768, 865839, 406567, 623032,
       935442, 106873, 563878, 620855, 583169, 337677, 445973, 156694,
       421940, 613226, 804410, 553565, 399524, 331595, 380067, 701521,
       360770, 958785, 797934, 883980, 340614, 435784, 563837, 200827,
       533941, 265026, 354481, 566720, 832746, 386690, 979285, 594722,
       216738, 369048, 514424, 954191, 150181, 388671, 457244, 206667,
       745200, 412703, 736771, 347984, 626074, 218109, 999435, 858060,
       500384, 903785, 873859, 204294, 467106, 357713, 890026, 751612,
       876680, 756981, 121439, 411289, 538466, 932097, 463727, 552618,
       936638, 348814, 944102, 689901, 901083, 396224, 682178, 596298,
       253005, 985924, 631565, 630998, 926665, 302669, 620020, 439828,
       971295, 165565, 936543, 296960, 501692, 525224, 355085, 830729,
       651948, 424358, 131478, 268833, 287489, 808153, 687639, 497347,
       439660, 847123, 172307, 810189, 432068, 903203, 253085, 180720,
       492224, 411477, 107181, 312940, 855186, 373935, 812989, 993840,
       327856, 506333, 263159, 372912, 552788, 722747, 248467, 955953,
       910622, 137675, 343421, 413192, 247801, 171147, 431283, 461962,
       149467, 758740, 628337, 574637, 373600, 930032, 396590, 238412,
       484321, 795847, 218456, 792673, 662256, 971338, 714738, 753844,
       976645, 918037, 996253, 373731, 836272, 167231, 743330, 807369,
       735307, 789208, 585324, 498759, 795004, 203250, 430794, 156636,
       284143, 740518, 445289, 599262, 357949, 493161, 320251, 231127,
       766193, 555374, 491484, 925128, 265093, 267808, 116735, 963680,
       445694, 215534, 232854, 168260, 538955, 243226, 246435, 582480,
       345539, 924318, 726880, 190588, 246705, 619589, 164988, 729534,
       505014, 920826, 534982, 110408, 283052, 840806, 382394, 876699,
       871432, 379882, 852002, 372891, 689034, 743092, 599174, 421092,
       349658, 811042, 505316, 116645, 950880, 788502, 627486, 498842,
       550294, 328387, 540152, 385932, 618682, 550930, 998192, 663938,
       756870, 337158, 919875, 315631, 113464, 556415, 250249, 403776,
       396002, 976908, 509489, 485295, 361829, 603632, 783494, 439049,
       502634, 378588, 794731, 641934, 113516, 425631, 542245, 512894,
       633090, 464234, 290162, 638155, 911429, 106186, 311783, 528385,
       228403, 209177, 497929, 735844, 710741, 276804, 507545, 485642,
       796375, 171183, 110084, 714784, 143924, 996850, 284834, 830878,
       270208, 407958, 832300, 927205, 655356, 831053, 432740, 893853,
       594988, 979544, 191891, 831479, 714346, 326289, 944537, 779156,
       856153, 473338, 521694, 136520, 730819, 912665, 469966, 952300,
       322609, 890280, 431583, 155912, 110143, 808544, 409074, 824728,
       606037, 636843, 111874, 439844, 463513, 577858, 607351, 682754,
       757352, 307469, 526296, 658816, 913337, 488464, 480094, 263108,
       298412, 261905, 674485, 223404, 991480, 804219, 483088, 100804,
       941807, 593466, 437442, 942106, 794951, 182450, 730973, 687755,
       757644, 998865, 944953, 386429, 108270, 205134, 749325, 774303,
       698470, 719989, 309323, 444035, 431478, 797634, 284836, 238196,
       885789, 287436, 496067, 206004, 153027, 469426, 654974, 943425,
       641845, 794534, 357808, 536052, 873384, 790225, 587498, 639027,
       217899, 589094, 458829, 626208, 315041, 283267, 442494, 159243,
       669800, 520179, 607974, 465065, 369941, 447226, 831668, 922937,
       640474, 153298, 334749, 221283, 961496, 804751, 369226, 691115,
       713172, 621756, 615116, 947598, 658002, 374545, 805806, 235097,
       290971, 180286, 662088, 884365, 178081, 507452, 990624, 892148,
       398683, 605100, 143109, 230223, 769602, 420815, 973546, 608039,
       250162, 786432, 445195, 938634, 482495, 796005, 910604, 327488,
       715202, 648852, 516959, 984456, 801331, 786103, 684193, 247505,
       259792, 185124, 760700, 362407, 389525, 179538, 265437, 266247,
       921851, 488724, 192524, 338070, 865607, 963285, 728491, 553436,
       440616, 463237, 753452, 920554, 594783, 725330, 607259, 979336,
       865201, 140977, 787351, 272330, 728025, 804608, 718829, 482404,
       331170, 753056, 910365, 379268, 362843, 135400, 798579, 250833,
       824116, 322613, 871305, 488037, 485813, 886473, 907113, 833321,
       521592, 254837, 634499, 574707, 476839, 149601, 630683, 500639,
       352120, 569245, 907012, 700074, 866805, 951863, 211578, 357394,
       863749, 596914, 684653, 528259, 797636, 326180, 620075, 965187,
       516182, 728839, 771509, 264221, 602704, 672416, 545506, 777533,
       953334, 369781, 990998, 982678, 646069, 331683, 364055, 521854,
       737252, 344480, 898519, 957816, 175960, 489618, 717044, 101421,
       793948, 737483, 695117, 167466, 664732, 143038, 979963, 467841,
       219028, 130156, 762951, 376879, 599031, 676255, 985446, 884180,
       571462, 815883, 258265, 569714, 180008, 633375, 556538, 669501,
       963761, 753005, 454758, 698589, 330119, 164464, 927354, 231508,
       272910, 305758, 950542, 291544, 388616, 577992, 342830, 491170,
       175553, 439341, 221186, 868031, 844117, 744557, 159536, 727109,
       155604, 608443, 117862, 991553, 727443, 378587, 420948, 457188,
       118236, 987524, 490596, 524215, 913464, 398484, 752504, 449263,
       844007, 686522, 670142, 607687, 967713, 291902, 149839, 840225,
       643226, 535879, 746630, 598308, 720356, 724752, 148498, 110122,
       281388, 728600, 231548, 531160, 889003, 193213, 557218, 125591,
       227244, 791425, 354455, 601042, 433663, 471938, 564654, 645723,
       573572, 437960, 649800, 544225, 390256, 488597, 133889, 931901,
       769475, 844062, 844129, 732169, 221854, 776950, 291006, 845751,
       889764, 929306, 515457, 556270, 908935, 525862, 490514, 774895,
       974522, 669809, 182953, 836349, 591269, 550127, 663190, 109392,
       215278, 674570, 681486, 941851, 186934, 918516, 533940, 556080])

In [19]:
df['policy_bind_date'].unique()

array(['2014-10-17', '2006-06-27', '2000-09-06', '1990-05-25',
       '2014-06-06', '2006-10-12', '2000-06-04', '1990-02-03',
       '1997-02-05', '2011-07-25', '2002-05-26', '1999-05-29',
       '1997-11-20', '2012-10-26', '1998-12-28', '1992-10-19',
       '2005-06-08', '2004-11-15', '2014-12-28', '1992-08-02',
       '2002-06-25', '2005-11-27', '1994-05-27', '1991-02-08',
       '1996-02-02', '2013-12-05', '1990-09-20', '2002-07-18',
       '1990-02-08', '2014-03-04', '2000-02-18', '2008-06-19',
       '2003-08-01', '1992-04-04', '1991-01-13', '2010-08-08',
       '2003-03-09', '1993-02-03', '2002-11-25', '1997-07-27',
       '1995-05-08', '2012-08-30', '2006-04-30', '2003-04-13',
       '2007-12-05', '2006-08-21', '1990-01-08', '1990-03-18',
       '2008-01-07', '1997-03-10', '2004-01-10', '1994-08-20',
       '2002-06-02', '1994-04-28', '2014-08-17', '2007-08-11',
       '2008-11-20', '1995-10-18', '1993-05-19', '2005-02-26',
       '1990-02-14', '1993-09-30', '2014-06-10', '2008-10-28',
       '2007-04-24', '1993-12-13', '2011-08-17', '1990-08-20',
       '1994-02-11', '1994-02-22', '2011-08-15', '1998-11-11',
       '1995-12-04', '2002-12-28', '2004-04-15', '2001-02-02',
       '2010-01-12', '1992-04-14', '2010-05-21', '2013-10-27',
       '1994-10-12', '1997-07-04', '2011-02-15', '1994-08-21',
       '1997-05-15', '1996-10-26', '2006-03-04', '1991-01-02',
       '1999-08-15', '1992-01-15', '1999-12-07', '1993-06-06',
       '2000-10-03', '2010-12-29', '1990-03-17', '2012-03-01',
       '2006-02-05', '2014-11-01', '2009-06-17', '1999-09-20',
       '1990-10-19', '1996-08-05', '2001-06-06', '2007-03-25',
       '2013-10-31', '1992-06-13', '1990-10-07', '1991-12-28',
       '2009-06-26', '2009-01-11', '2003-03-18', '2012-11-02',
       '2000-05-04', '1999-09-29', '1999-03-09', '1991-02-13',
       '1993-08-05', '1997-10-31', '2001-04-21', '2013-01-08',
       '2009-07-23', '1998-02-20', '2008-03-13', '1996-08-20',
       '2014-07-27', '1992-11-09', '2012-06-04', '2001-05-13',
       '2011-09-17', '2011-07-15', '2005-07-27', '2005-10-18',
       '1996-01-19', '2005-09-29', '1997-02-18', '2010-05-11',
       '2009-02-06', '2013-07-09', '1992-06-06', '1998-03-08',
       '2004-03-29', '2006-06-01', '1994-06-08', '1998-02-12',
       '2000-11-16', '2004-10-24', '2009-11-08', '1996-09-21',
       '1995-07-16', '2001-06-09', '2002-10-06', '1997-07-14',
       '1994-11-11', '2012-06-23', '2007-02-18', '2005-06-27',
       '2006-05-14', '2010-04-29', '1992-11-10', '1999-07-24',
       '1992-02-22', '2002-09-13', '2003-08-09', '2007-12-04',
       '2002-07-22', '1992-07-03', '2005-03-29', '2008-03-16',
       '1999-05-23', '2012-11-22', '1993-01-29', '2003-02-11',
       '1990-08-15', '2010-03-06', '1990-09-27', '2005-06-17',
       '2001-09-14', '2011-01-07', '2003-09-13', '1997-10-24',
       '2009-01-04', '1998-10-12', '1993-02-23', '1996-07-07',
       '2013-01-23', '2006-12-06', '2014-02-23', '2007-11-16',
       '1999-04-17', '2006-02-06', '1993-10-20', '2006-01-01',
       '2003-04-04', '2014-07-05', '1996-01-16', '2002-04-19',
       '2005-12-10', '1994-11-07', '2012-06-02', '1998-04-07',
       '2007-04-25', '2000-06-30', '1996-06-04', '2009-05-09',
       '2001-07-08', '1993-09-20', '2009-11-03', '2014-12-10',
       '1994-01-08', '2006-08-05', '2007-02-07', '2001-04-09',
       '1995-02-17', '1995-07-25', '2006-03-24', '1995-03-28',
       '1996-06-19', '1993-06-16', '2001-07-11', '2008-11-22',
       '1990-05-19', '2013-08-26', '1997-10-12', '2002-01-21',
       '1996-09-02', '2010-01-28', '2014-10-03', '2007-05-02',
       '1990-09-22', '2004-09-19', '1995-08-28', '2004-02-04',
       '2014-07-23', '1997-03-21', '1991-05-06', '1992-08-07',
       '2013-09-03', '2012-01-05', '2007-01-27', '2005-10-14',
       '1990-11-03', '2005-10-15', '1999-05-22', '2002-12-21',
       '2007-02-10', '2002-03-01', '2003-04-21', '2002-09-22',
       '1998-02-10', '1992-09-01', '1999-05-01', '1997-12-19',
       '2000-06-18', '1995-04-24', '2006-06-16', '2007-09-28',
       '1991-11-21', '2001-05-16', '1999-08-11', '2003-06-16',
       '1999-03-30', '1999-02-03', '2011-08-25', '2010-06-28',
       '2001-11-06', '2013-04-15', '1995-12-07', '1991-11-01',
       '2014-05-19', '1992-03-15', '2006-02-03', '2003-03-16',
       '2002-10-16', '1990-01-27', '2010-03-11', '1995-09-19',
       '2010-02-27', '2002-04-30', '2007-04-28', '1996-07-08',
       '2002-04-01', '2006-10-29', '2007-10-25', '2001-03-28',
       '1995-05-04', '2011-09-28', '2003-01-28', '2011-02-01',
       '1993-02-09', '2005-08-05', '2006-06-17', '1993-12-07',
       '2012-03-14', '1997-08-05', '2009-07-05', '1994-11-25',
       '1997-02-03', '2009-10-09', '2002-11-20', '1995-05-29',
       '2011-01-22', '2012-10-18', '1991-10-13', '2010-10-01',
       '2013-04-10', '2008-06-11', '2013-12-04', '2010-08-21',
       '2010-06-18', '1992-04-10', '1991-12-06', '1993-10-29',
       '1991-11-03', '2002-07-09', '2005-07-01', '1991-11-04',
       '1993-04-14', '2009-08-23', '1993-06-18', '2012-07-17',
       '1999-01-25', '1990-02-23', '2000-08-30', '2008-09-03',
       '1991-08-02', '2001-09-25', '2007-03-11', '2010-11-20',
       '1998-08-28', '2002-07-16', '1990-04-29', '1998-02-01',
       '2008-07-20', '1998-11-13', '2001-05-24', '2014-06-03',
       '1991-08-22', '1998-12-12', '1999-02-18', '1997-10-30',
       '1999-11-29', '2013-07-07', '2003-07-05', '2005-09-21',
       '1995-02-18', '1999-04-07', '2014-12-13', '1997-06-01',
       '2013-07-13', '2002-12-30', '1997-02-28', '1998-06-18',
       '1996-02-08', '2004-11-17', '2012-10-25', '2006-04-13',
       '2006-02-21', '2003-12-17', '1999-07-31', '2014-08-05',
       '2011-06-05', '1992-10-11', '2010-02-17', '2007-05-06',
       '1997-05-01', '1998-01-28', '1993-05-05', '1994-08-06',
       '2014-11-14', '1991-12-14', '2009-10-21', '1997-09-29',
       '2003-12-31', '2008-01-01', '2004-05-31', '2013-12-18',
       '2000-08-24', '1992-10-14', '1991-11-16', '1995-10-08',
       '2007-10-28', '2008-05-16', '2009-06-22', '2012-05-10',
       '2003-10-02', '1990-08-02', '1997-09-16', '1995-07-29',
       '2005-09-06', '1992-08-05', '1993-01-22', '1995-05-20',
       '1992-09-24', '2007-07-20', '1992-04-28', '1998-01-19',
       '2009-09-08', '1994-12-18', '1996-08-23', '1991-11-20',
       '1998-10-28', '2003-04-09', '1992-02-04', '2006-06-29',
       '1997-06-21', '2006-09-07', '2001-10-01', '2009-02-20',
       '2001-06-26', '1997-01-18', '2014-06-24', '1992-10-02',
       '2012-10-09', '1993-02-10', '1994-09-28', '2003-05-24',
       '1991-12-25', '1999-09-18', '1994-02-03', '2003-01-18',
       '2005-03-07', '2003-08-23', '2002-07-11', '2014-03-19',
       '1993-12-06', '1999-08-29', '2007-03-09', '2004-01-03',
       '1991-04-25', '1995-03-14', '2005-12-09', '2001-12-25',
       '1999-11-14', '2001-10-27', '1993-10-31', '2003-02-13',
       '2004-03-06', '2013-07-12', '2014-08-27', '1990-06-22',
       '2008-03-07', '1991-09-03', '2011-09-02', '2012-10-06',
       '2014-01-18', '1992-03-22', '2012-12-03', '1996-10-18',
       '1997-10-02', '2008-03-18', '2010-08-29', '2005-03-31',
       '2013-12-25', '2014-03-11', '1997-08-04', '2007-11-14',
       '1992-07-30', '2000-12-01', '2002-09-10', '1997-11-07',
       '1993-05-18', '1996-07-11', '1995-12-17', '2013-04-12',
       '1995-11-13', '2004-11-04', '1998-03-21', '1999-07-22',
       '2010-02-28', '2005-01-30', '2001-11-29', '2012-12-24',
       '1997-05-11', '1994-01-26', '2010-11-04', '1992-06-19',
       '2010-06-02', '2002-10-12', '2008-02-25', '1996-09-05',
       '1998-03-16', '2010-04-22', '2008-01-25', '2000-09-10',
       '2008-04-23', '2011-02-18', '2012-04-24', '2006-05-24',
       '1992-01-30', '2009-01-24', '1995-08-29', '2011-07-31',
       '2013-01-05', '1994-11-18', '2014-08-30', '1998-09-10',
       '2003-01-04', '2004-05-24', '1994-09-12', '1997-07-07',
       '1991-03-01', '2001-09-29', '2012-01-10', '2001-07-05',
       '1991-08-07', '2012-07-24', '1994-08-08', '2001-12-09',
       '1990-03-14', '2006-03-28', '2013-12-23', '1991-09-30',
       '2001-12-27', '2005-04-07', '2003-04-08', '2005-11-14',
       '2005-01-07', '1994-02-14', '1996-01-23', '1999-12-12',
       '2004-07-15', '2012-11-07', '2009-06-29', '2000-06-26',
       '2002-01-09', '2013-11-11', '2008-01-14', '2003-03-04',
       '1994-06-07', '2013-07-04', '2002-06-30', '2004-06-30',
       '1998-12-19', '2014-08-31', '2005-11-10', '2001-11-26',
       '2014-05-06', '1991-01-27', '2000-03-04', '1995-10-12',
       '2014-04-25', '2011-01-26', '1996-01-26', '1991-04-08',
       '2002-06-29', '1999-04-09', '2009-04-19', '1991-11-28',
       '2012-04-27', '2007-03-04', '2012-12-31', '2013-12-21',
       '2005-04-28', '1994-09-17', '2003-08-16', '2014-09-02',
       '2011-12-12', '1991-08-17', '2004-02-29', '2015-02-22',
       '1990-10-13', '1991-11-25', '1990-10-02', '2009-02-17',
       '2005-07-17', '1994-03-12', '1994-08-03', '2012-08-25',
       '2011-12-02', '2005-02-25', '2004-04-20', '2009-11-17',
       '2009-09-19', '2001-09-12', '1992-11-27', '1998-12-07',
       '1990-08-25', '2011-10-22', '1990-02-01', '1990-11-27',
       '2004-07-16', '1993-12-10', '1995-03-08', '2009-08-03',
       '1996-11-03', '2004-08-09', '1991-07-20', '2005-01-14',
       '2011-12-16', '1990-10-09', '1994-02-27', '2014-04-21',
       '2010-02-11', '1991-10-05', '1992-07-23', '1993-10-10',
       '2010-11-14', '1997-03-03', '1997-03-01', '1990-08-18',
       '2014-05-28', '2004-07-22', '2009-08-02', '2007-07-05',
       '2010-01-24', '2000-05-15', '2008-03-21', '1990-05-07',
       '1991-02-05', '1992-03-19', '2013-04-24', '2009-04-10',
       '2008-12-01', '2000-07-05', '2014-06-11', '1995-04-23',
       '1990-09-16', '1998-12-11', '1995-10-09', '1999-12-21',
       '2002-07-28', '1993-08-03', '2007-12-16', '2008-02-10',
       '2006-10-01', '2003-05-29', '2002-05-06', '2004-02-28',
       '1999-01-14', '2002-01-23', '1992-12-09', '1998-06-24',
       '2011-01-06', '2012-02-24', '2011-06-25', '2006-11-21',
       '2008-06-27', '1993-08-30', '2008-04-21', '2000-06-23',
       '2010-01-11', '1990-03-28', '1998-01-29', '2014-12-05',
       '2002-05-27', '2002-08-09', '2012-12-02', '2000-03-22',
       '2002-04-13', '2008-06-17', '1994-04-07', '1992-02-29',
       '1996-05-11', '2013-04-03', '2009-11-12', '2008-11-05',
       '1993-02-15', '2008-07-21', '2010-09-11', '1995-12-22',
       '1991-09-26', '1990-07-15', '2009-05-10', '1999-10-28',
       '1995-03-30', '2011-01-31', '2006-04-21', '2004-03-10',
       '1991-01-05', '1996-10-15', '1994-06-21', '1994-06-13',
       '2003-05-27', '1996-07-06', '2005-05-08', '2010-11-02',
       '2012-07-29', '2002-06-06', '1991-09-19', '2009-06-24',
       '1992-05-29', '2004-08-12', '2006-12-24', '2007-07-24',
       '1994-08-17', '1996-04-10', '1992-12-11', '2010-08-01',
       '2009-03-23', '1996-07-29', '1994-08-23', '1992-01-05',
       '1997-09-11', '2002-02-10', '1993-01-28', '1996-10-23',
       '1997-04-21', '2008-11-09', '2002-06-20', '2005-10-21',
       '2005-08-28', '2013-01-16', '2005-10-10', '2009-02-08',
       '2005-03-06', '1994-05-17', '1990-07-20', '2005-04-17',
       '1994-02-10', '1995-03-29', '2007-04-30', '2001-02-15',
       '2001-07-09', '2008-09-06', '2004-12-19', '2000-11-15',
       '2007-03-14', '2004-12-28', '1999-07-05', '1997-11-15',
       '2010-09-27', '2007-08-18', '1993-08-09', '1991-04-02',
       '2007-03-15', '2010-05-01', '2003-06-24', '1990-07-08',
       '1994-09-24', '2012-06-20', '2006-04-19', '2001-12-07',
       '2006-11-25', '1996-12-06', '2012-07-10', '2014-04-07',
       '2003-10-11', '2015-01-17', '1992-12-07', '2004-11-29',
       '2004-01-02', '2006-01-25', '1993-04-18', '2006-12-09',
       '1997-08-30', '1991-06-03', '1995-09-06', '2000-02-09',
       '1996-07-23', '2011-12-30', '1996-07-21', '1996-04-08',
       '2001-03-04', '2001-10-19', '2006-08-18', '2013-04-28',
       '2009-11-29', '1990-02-15', '2002-04-12', '1999-02-21',
       '2011-06-18', '1995-03-26', '1991-05-03', '2001-12-19',
       '2012-08-05', '2014-01-20', '2011-12-19', '2008-07-28',
       '1998-05-05', '1995-04-16', '1992-02-14', '2007-07-11',
       '2010-04-07', '1991-03-10', '1996-01-20', '2010-03-01',
       '2014-06-15', '2004-11-25', '2000-08-26', '2005-08-23',
       '1990-08-09', '2003-03-28', '2007-10-23', '1996-06-27',
       '1994-12-11', '1995-12-05', '1996-12-15', '2011-06-06',
       '1995-12-13', '1997-10-28', '1996-01-04', '2008-05-09',
       '2009-12-05', '2012-12-22', '1992-05-19', '2002-05-25',
       '2010-04-21', '1990-03-26', '2007-05-12', '2001-01-02',
       '2006-08-10', '2014-07-28', '2011-09-27', '2013-04-20',
       '1991-03-20', '2005-12-03', '2011-05-25', '2006-10-18',
       '2006-07-19', '2002-06-08', '2009-02-12', '2001-05-14',
       '2001-02-16', '1993-11-18', '1990-02-18', '2000-05-21',
       '2012-08-26', '2004-11-16', '2003-01-23', '2008-11-07',
       '1999-10-19', '1990-12-20', '1996-02-14', '2001-06-10',
       '2010-03-17', '2003-07-30', '2014-09-17', '2009-06-03',
       '1994-10-11', '1991-07-18', '2001-09-24', '2012-09-19',
       '1991-07-11', '1991-10-29', '1999-12-28', '2012-10-11',
       '1995-08-19', '1991-02-11', '1991-07-02', '1994-04-10',
       '2005-12-04', '2014-07-16', '2003-09-17', '2000-07-15',
       '2009-07-29', '1991-04-13', '2005-11-20', '1990-05-20',
       '2002-11-28', '2004-06-15', '2010-09-26', '1990-09-15',
       '2009-09-16', '1999-08-12', '2009-03-08', '2009-04-27',
       '2006-08-02', '1995-12-06', '2002-11-13', '1991-11-09',
       '1998-01-14', '2002-04-25', '2004-08-13', '1990-06-24',
       '1991-08-21', '2011-02-25', '2013-02-04', '2001-02-20',
       '1992-03-03', '2006-12-21', '2000-07-14', '1991-12-12',
       '2013-07-01', '1998-12-16', '2015-01-03', '1994-04-01',
       '2000-08-15', '2014-11-13', '2011-02-04', '2009-01-21',
       '1992-11-07', '1992-03-20', '1995-07-17', '2000-12-27',
       '1999-08-06', '2007-03-03', '1997-12-25', '2013-11-06',
       '1990-09-21', '1999-10-05', '1992-04-07', '2009-03-05',
       '1997-02-10', '1992-01-28', '2013-09-16', '2002-01-04',
       '2002-04-02', '1998-07-16', '2002-08-15', '1999-09-07',
       '2012-01-12', '1996-08-18', '1996-03-11', '1997-11-23',
       '2013-08-08', '1996-11-30', '1997-06-18', '2007-04-19',
       '2007-09-19', '1996-12-21', '2008-02-03', '2003-07-16',
       '1991-05-05', '1991-06-16', '2001-04-03', '2014-03-16',
       '2010-08-03', '2009-11-25', '2001-05-08', '2004-06-14',
       '1994-08-07', '2004-08-26', '2000-11-05', '1994-10-03',
       '2005-04-11', '1990-05-16', '2004-09-11', '1993-11-30',
       '2003-03-06', '1996-12-18', '1995-02-21', '2009-12-11',
       '2000-10-18', '2007-02-09', '2006-10-28', '2000-01-27',
       '2002-04-05', '2013-04-30', '2013-05-01', '1999-01-09',
       '2007-07-04', '1994-02-05', '2006-07-12', '2007-10-24',
       '2001-12-08', '2007-03-24', '1991-07-16', '2014-01-05',
       '2003-02-17', '2011-11-18', '1996-11-11'], dtype=object)

In [20]:
df['policy_state'].unique()

array(['OH', 'IN', 'IL'], dtype=object)

In [21]:
df['policy_csl'].unique()

array(['250/500', '100/300', '500/1000'], dtype=object)

In [22]:
df['policy_deductable'].unique()

array([1000, 2000,  500])

In [23]:
df['policy_annual_premium'].unique()

array([1406.91, 1197.22, 1413.14, 1415.74, 1583.91, 1351.1 , 1333.35,
       1137.03, 1442.99, 1315.68, 1253.12, 1137.16, 1215.36,  936.61,
       1301.13, 1131.4 , 1199.44,  708.64, 1374.22, 1475.73, 1187.96,
        875.15,  972.18, 1268.79,  883.31, 1266.92, 1322.1 ,  848.07,
       1291.7 , 1104.5 ,  954.16, 1337.28, 1088.34, 1558.29, 1415.68,
       1334.15,  988.45, 1222.48, 1155.55, 1262.08, 1451.62, 1737.66,
       1475.93,  538.17, 1081.08, 1454.43, 1240.47, 1273.7 , 1123.87,
       1245.89, 1326.62, 1073.83, 1530.52, 1201.41, 1393.57, 1276.57,
       1082.49, 1414.74, 1470.06,  870.63,  795.23, 1168.2 ,  993.51,
       1848.81, 1641.73, 1362.87, 1239.22,  835.02, 1061.33, 1279.08,
       1105.49, 1055.53,  895.83, 1632.93, 1405.99, 1425.54, 1038.09,
       1307.11, 1489.24,  976.67, 1340.43, 1267.81, 1234.2 , 1318.06,
        769.95, 1514.72,  873.64, 1612.43, 1318.24, 1226.83, 1326.44,
       1136.83, 1322.78, 1483.25, 1515.3 , 1075.18, 1690.27, 1352.83,
       1148.73,  969.5 , 1463.82, 1474.17, 1497.35, 1427.14, 1495.1 ,
       1141.62, 1125.37, 1207.36, 1338.5 , 1074.07, 1337.56, 1298.91,
       1222.75, 1059.52, 1124.38, 1110.37, 1103.58, 1269.76,  964.79,
       1167.3 , 1625.45, 1394.43, 1053.24, 1040.75, 1302.4 , 1588.55,
       1399.26, 1352.31, 1139.  , 1397.67,  823.17,  965.13, 1922.84,
       1624.82, 1277.25, 1439.34, 1281.27, 1348.83, 1198.15, 1221.22,
        968.74, 1220.71, 1238.62, 1320.75,  990.98, 1398.51, 1355.08,
       1384.51,  847.03, 1000.06, 1046.71, 1158.03, 1372.27, 1053.04,
       1275.39, 1402.75, 1344.36, 1197.71, 1203.24, 1152.4 , 1142.62,
       1332.07, 1166.54, 1495.06, 1337.92, 1587.96, 1362.29, 1448.84,
       1241.97, 1124.6 , 1079.92, 1447.78, 1229.16, 1226.49,  897.89,
       1706.79, 1254.18,  885.08, 1046.58, 1712.68, 1097.71, 1363.77,
       1382.88, 1141.35, 1054.83, 1057.77, 1488.02,  920.3 ,  986.53,
       1440.68, 1086.21, 1367.68, 1215.85, 1191.19, 1594.45, 1463.07,
       1734.09, 1411.43, 1512.58, 1153.35, 1722.95, 1281.07, 1011.92,
       1042.26, 1235.1 ,  768.91, 1301.72, 1451.54,  767.14, 1620.89,
       1048.46, 1538.26, 1217.69, 1362.64, 1279.13,  924.72, 1019.44,
       1314.6 , 1515.18, 1649.18, 1451.01,  978.46, 1198.34, 1003.23,
       1212.  , 1242.96, 1053.02, 1693.63, 2047.59, 1083.72, 1138.42,
       1072.62, 1219.04, 1371.78, 1506.21, 1058.21,  932.14, 1608.34,
       1728.56, 1518.46, 1540.19,  965.21, 1278.75,  773.99, 1532.47,
       1340.56, 1297.75,  433.33, 1025.54, 1264.77, 1459.97, 1238.65,
       1050.76, 1711.72,  865.33, 1153.49, 1281.25, 1342.8 , 1443.32,
       1629.94, 1134.08, 1483.91, 1304.67, 1035.79, 1401.2 , 1665.45,
        653.66, 1080.13, 1346.18, 1589.54, 1251.65, 1083.01,  974.59,
       1399.85, 1307.74, 1219.27, 1411.3 ,  694.45, 1006.77, 1422.36,
       1348.32, 1315.56, 1407.01, 1388.58, 1310.76, 1004.63, 1134.91,
       1194.  , 1248.25, 1338.54,  782.23, 1366.9 , 1275.81, 1090.65,
       1326.  ,  972.47,  806.31, 1416.24, 1097.64,  947.75, 1018.73,
       1400.74, 1155.53, 1386.93,  915.29, 1239.55, 1366.42, 1086.48,
       1247.87, 1312.75,  765.64, 1327.41, 1338.55, 1316.63, 1286.44,
       1372.18, 1447.77,  903.32, 1454.42, 1603.42, 1616.58, 1611.83,
        889.13, 1252.08,  995.56, 1347.92, 1724.09, 1379.93, 1554.64,
       1377.94, 1313.33, 1259.02, 1371.88, 1399.27, 1061.98, 1365.46,
        894.4 ,  956.69, 1123.89, 1085.03, 1437.33,  988.29, 1238.89,
       1384.64, 1595.07, 1127.89,  929.7 , 1829.63,  904.7 , 1243.84,
       1030.95, 1285.03, 1216.56,  966.26, 1203.17, 1212.12, 1573.93,
       1609.67, 1097.57, 1618.65,  922.67, 1342.02, 1195.01,  994.74,
       1050.24, 1313.51, 1102.29, 1185.78, 1527.95, 1366.39, 1403.9 ,
        927.23, 1554.86,  736.07,  974.16,  973.8 , 1260.32, 1464.03,
        617.11, 1724.46, 1161.31, 1091.73, 1209.07, 1241.04, 1757.21,
        802.24, 1342.72, 1209.41, 1141.71, 1090.03, 1464.73, 1118.58,
       1117.04, 1257.83, 1082.72, 1191.8 , 1242.02, 1075.71,  969.88,
       1459.93, 1245.61, 1462.76, 1398.46, 1269.64, 1455.65, 1140.31,
       1330.46, 1190.6 ,  972.5 , 1161.91, 1117.17, 1101.51, 1523.17,
        984.45, 1257.  , 1434.51, 1628.  , 1412.31, 1134.68, 1306.78,
       1021.9 , 1538.6 , 1354.5 , 1282.93, 1346.27, 1338.4 ,  949.44,
        977.4 , 1181.46, 1187.53,  845.16, 1442.27, 1276.43, 1075.41,
       1111.72,  814.96, 1575.86, 1115.27, 1175.7 ,  793.15,  942.51,
       1056.71, 1255.68, 1335.13, 1178.95, 1793.16, 1008.38, 1396.83,
       1402.78, 1437.88, 1313.64, 1482.14, 1171.75, 1353.33, 1175.51,
       1836.02, 1480.79, 1453.92, 1340.71,  714.03, 1376.16,  914.22,
       1601.47, 1096.79, 1078.22, 1595.28, 1217.84, 1117.42, 1567.37,
       1294.93, 1152.12, 1441.21, 1575.74, 1233.96, 1861.43, 1570.86,
        791.47, 1012.78, 1047.06, 1390.29,  951.46, 1226.78, 1280.9 ,
       1472.77, 1878.44, 1418.5 , 1532.8 , 1304.35, 1551.61, 1326.98,
        862.92, 1331.69, 1486.04,  870.55, 1344.56, 1377.04, 1237.88,
       1525.86,  854.58,  770.76, 1132.74, 1173.37, 1188.28,  876.88,
       1143.95, 1409.06, 1070.63,  916.13, 1191.5 , 1474.66, 1193.45,
       1437.53, 1304.83, 1168.8 , 1164.97, 1232.72, 1800.76, 1187.01,
       1559.34, 1137.02, 1281.72,  796.35, 1270.02, 1383.13, 1290.74,
       1216.68, 1251.16, 1586.41, 1526.11, 1028.44, 1555.94, 1570.77,
       1170.53, 1099.95, 1472.43, 1275.62, 1292.3 , 1009.37, 1093.07,
       1325.44, 1017.18, 1221.17, 1927.87,  978.27, 1221.14, 1255.62,
        999.52, 1380.89, 1010.77, 1205.86, 1526.61, 1496.44, 1256.2 ,
       1268.35, 1421.59, 1500.04, 1433.24, 1231.25, 1135.43,  945.73,
       1118.76, 1231.98, 1005.47, 1108.97, 1392.39, 1317.97, 1588.22,
        900.02, 1744.64, 1260.56, 1021.14, 1285.09, 1537.07, 1022.42,
       1558.86, 1757.87,  973.5 , 1430.8 , 1192.27, 1163.83, 1003.15,
       1153.54, 1631.1 , 1252.48, 1677.26,  979.73,  989.24, 1389.86,
       1233.85, 1320.39, 1435.09, 1448.54, 1733.56, 1533.07, 1106.77,
        995.7 , 1298.85, 1276.73, 1202.28,  671.92, 1358.03, 1008.79,
       1141.1 , 1397.  , 1664.66, 1151.39, 1546.01, 1063.67,  709.14,
       1039.55, 1339.39, 1202.75, 1081.17,  991.39,  984.02, 1354.83,
        830.31,  987.42, 1119.29, 1048.39, 1074.47, 1230.76, 1255.02,
       1555.52,  836.11, 1450.98,  625.08, 1133.27, 1366.6 , 1439.9 ,
       1230.69, 1307.68, 1124.69, 1520.78, 1609.11, 1358.91, 1295.87,
       1161.03, 1441.06, 1097.99, 1464.42, 1543.68, 1390.89, 1148.58,
       1616.26, 1398.94, 1238.92,  968.46, 1045.12, 1537.33,  912.3 ,
       1007.28, 1189.98, 1576.41, 1172.82, 1312.22,  671.01,  895.14,
       1373.21, 1625.65, 1295.63, 1459.96, 1219.94, 1064.49,  959.83,
       1767.02, 1285.01, 1422.95, 1223.39, 1539.06,  988.06, 1740.57,
       1540.91, 1381.88, 1446.98, 1220.86,  948.1 , 1471.24, 1157.97,
        566.11, 1060.88, 1524.45, 1556.17, 1216.24, 1484.72, 1203.81,
       1393.34, 1484.48, 1581.27, 1667.83, 1497.41,  803.36, 1221.41,
       1865.83, 1434.27, 1114.68, 1218.56, 1234.69,  964.92, 1351.72,
        817.28, 1389.59, 1353.53, 1294.04,  840.81,  998.19, 1090.32,
       1780.67, 1681.01, 1395.77, 1471.44, 1265.72, 1274.7 , 1330.39,
       1122.95, 1655.79,  935.77, 1192.04,  990.11, 1422.21,  914.85,
       1123.84,  838.02, 1300.68, 1173.21,  985.97, 1129.23, 1194.83,
       1114.29, 1509.04,  664.86, 1267.4 , 1119.23, 1698.51, 1422.78,
       1212.75, 1423.34,  976.37, 1124.59, 1569.33, 1359.36, 1607.36,
       1042.25, 1453.95, 1969.63, 1156.19, 1124.47, 1493.5 , 1155.38,
        878.19, 1145.85, 1261.28, 1427.46, 1592.41, 1274.63, 1362.31,
        919.37, 1377.23,  995.55, 1508.12,  484.67, 1561.41, 1457.21,
       1128.71, 1358.2 , 1232.79,  936.19, 1302.34, 1264.99, 1467.76,
       1124.43, 1319.81, 1482.53, 1328.18, 1463.95, 1133.85, 1037.32,
       1562.8 , 1425.79, 1615.14, 1236.5 , 1017.97, 1306.  , 1174.14,
       1231.01, 1299.18, 1469.75, 1390.72, 1694.09, 1140.15, 1310.71,
       1730.49, 1616.65, 1935.85,  855.14, 1568.47, 1550.53, 1370.92,
       1363.59,  828.42, 1209.63, 1111.17,  989.97, 1114.23, 1347.31,
       1687.53, 1183.48, 1537.13, 1173.25, 1361.16, 1422.56, 1143.06,
       1405.71, 1354.2 , 1055.6 ,  999.43, 1155.97, 1726.91, 1232.57,
       1078.65, 1324.78, 1518.54, 1239.06, 1246.68, 1622.67, 1082.36,
       1270.55, 1236.32,  785.82, 1265.84, 1508.9 , 1106.84, 1389.13,
        974.84, 1304.46, 1257.36, 1257.04,  719.52, 1524.18, 1395.58,
       1243.68, 1189.04, 1375.29, 1387.51, 1178.61, 1166.62, 1556.31,
       1452.27, 1212.07, 1578.54, 1488.26, 1096.39, 1482.57,  954.18,
       1193.4 , 1023.11, 1653.32, 1022.46, 1396.43, 1521.55, 1034.27,
       1255.35, 1396.89,  795.31,  982.22, 1311.3 , 1277.12, 1388.62,
       1406.52, 1132.47, 1896.91, 1143.46, 1285.42, 1305.26, 1051.67,
       1387.35, 1083.64, 1851.78, 1270.29, 1459.99, 1253.44, 1142.48,
       1188.45, 1125.4 , 1294.41, 1459.5 , 1367.99, 1594.37, 1035.99,
        911.53, 1319.97, 1391.63,  915.41, 1468.82, 1412.76, 1588.26,
       1140.91, 1517.54,  912.29, 1144.3 , 1281.43, 1101.85, 1082.1 ,
       1185.44, 1175.07,  979.26,  920.81,  922.85, 1107.59, 1272.46,
       1340.24, 1648.  , 1381.14, 1198.44,  951.27, 1341.24, 1177.57,
       1055.09, 1479.48, 1827.38, 1169.62, 1516.34, 1270.21,  809.11,
       1115.81, 1457.65, 1041.36, 1693.83, 1685.69, 1054.92, 1333.97,
       1013.61,  958.3 , 1112.04, 1206.26,  763.67, 1042.56, 1263.48,
       1006.99, 1328.26, 1250.08,  982.7 , 1412.06, 1066.7 , 1585.54,
       1416.08, 1246.03, 1356.64, 1387.7 , 1004.14, 1107.07, 1429.96,
       1074.99, 1007.  , 1052.85, 1200.33, 1343.  , 1441.6 , 1433.42,
       1368.57,  862.19,  871.46, 1863.04, 1181.64, 1060.74,  951.56,
       1533.71, 1200.09, 1093.83,  988.93, 1331.94, 1361.45, 1188.51,
       1101.83,  840.95, 1503.21, 1722.5 ,  944.03, 1453.61, 1672.88,
       1248.05, 1564.43, 1280.88,  722.66, 1235.14, 1347.04, 1310.8 ,
       1436.79, 1383.49, 1356.92,  766.19])

In [24]:
df['umbrella_limit'].unique()

array([       0,  5000000,  6000000,  4000000,  3000000,  8000000,
        7000000,  9000000, 10000000, -1000000,  2000000])

In [25]:
df['auto_make'].unique()

array(['Saab', 'Mercedes', 'Dodge', 'Chevrolet', 'Accura', 'Nissan',
       'Audi', 'Toyota', 'Ford', 'Suburu', 'BMW', 'Jeep', 'Honda',
       'Volkswagen'], dtype=object)

In [26]:
df['auto_model'].unique()

array(['92x', 'E400', 'RAM', 'Tahoe', 'RSX', '95', 'Pathfinder', 'A5',
       'Camry', 'F150', 'A3', 'Highlander', 'Neon', 'MDX', 'Maxima',
       'Legacy', 'TL', 'Impreza', 'Forrestor', 'Escape', 'Corolla',
       '3 Series', 'C300', 'Wrangler', 'M5', 'X5', 'Civic', 'Passat',
       'Silverado', 'CRV', '93', 'Accord', 'X6', 'Malibu', 'Fusion',
       'Jetta', 'ML350', 'Ultima', 'Grand Cherokee'], dtype=object)

In [27]:
df['auto_year'].unique()

array([2004, 2007, 2014, 2009, 2003, 2012, 2015, 1996, 2002, 2006, 2000,
       2010, 1999, 2011, 2005, 2008, 1995, 2001, 1998, 1997, 2013])

In [28]:
df['incident_date'].unique()

array(['2015-01-25', '2015-01-21', '2015-02-22', '2015-01-10',
       '2015-02-17', '2015-01-02', '2015-01-13', '2015-02-27',
       '2015-01-30', '2015-01-05', '2015-01-06', '2015-02-15',
       '2015-01-22', '2015-01-08', '2015-01-15', '2015-01-29',
       '2015-01-19', '2015-01-01', '2015-02-10', '2015-01-11',
       '2015-02-24', '2015-01-09', '2015-01-28', '2015-01-07',
       '2015-01-18', '2015-02-28', '2015-02-12', '2015-01-24',
       '2015-01-03', '2015-01-16', '2015-02-14', '2015-02-21',
       '2015-02-18', '2015-02-26', '2015-01-17', '2015-01-27',
       '2015-02-11', '2015-01-12', '2015-02-06', '2015-01-20',
       '2015-02-02', '2015-02-20', '2015-02-08', '2015-02-23',
       '2015-03-01', '2015-01-14', '2015-02-19', '2015-02-09',
       '2015-01-26', '2015-01-23', '2015-01-31', '2015-02-03',
       '2015-02-01', '2015-02-05', '2015-02-25', '2015-02-16',
       '2015-02-13', '2015-02-04', '2015-02-07', '2015-01-04'],
      dtype=object)

In [29]:
df['incident_date'].unique()

array(['2015-01-25', '2015-01-21', '2015-02-22', '2015-01-10',
       '2015-02-17', '2015-01-02', '2015-01-13', '2015-02-27',
       '2015-01-30', '2015-01-05', '2015-01-06', '2015-02-15',
       '2015-01-22', '2015-01-08', '2015-01-15', '2015-01-29',
       '2015-01-19', '2015-01-01', '2015-02-10', '2015-01-11',
       '2015-02-24', '2015-01-09', '2015-01-28', '2015-01-07',
       '2015-01-18', '2015-02-28', '2015-02-12', '2015-01-24',
       '2015-01-03', '2015-01-16', '2015-02-14', '2015-02-21',
       '2015-02-18', '2015-02-26', '2015-01-17', '2015-01-27',
       '2015-02-11', '2015-01-12', '2015-02-06', '2015-01-20',
       '2015-02-02', '2015-02-20', '2015-02-08', '2015-02-23',
       '2015-03-01', '2015-01-14', '2015-02-19', '2015-02-09',
       '2015-01-26', '2015-01-23', '2015-01-31', '2015-02-03',
       '2015-02-01', '2015-02-05', '2015-02-25', '2015-02-16',
       '2015-02-13', '2015-02-04', '2015-02-07', '2015-01-04'],
      dtype=object)

In [30]:
df['incident_severity'].unique()

array(['Major Damage', 'Minor Damage', 'Total Loss', 'Trivial Damage'],
      dtype=object)

In [31]:
df['collision_type'].unique()

array(['Side Collision', '?', 'Rear Collision', 'Front Collision'],
      dtype=object)

In [32]:
df['collision_type'] = df['collision_type'].replace('?', 'Unknown')

In [33]:
df['authorities_contacted'].unique()

array(['Police', nan, 'Fire', 'Other', 'Ambulance'], dtype=object)

In [34]:
df['authorities_contacted'] = df['authorities_contacted'].fillna('Unknown')

In [35]:
df['incident_hour_of_the_day'].unique()

array([ 5,  8,  7, 20, 19,  0, 23, 21, 14, 22,  9, 12, 15,  6, 16,  4, 10,
        1, 17,  3, 11, 13, 18,  2])

In [36]:
df['number_of_vehicles_involved'].unique()

array([1, 3, 4, 2])

In [37]:
df['property_damage'].unique()

array(['YES', '?', 'NO'], dtype=object)

In [38]:
df['property_damage'] = df['property_damage'].replace('?', 'Unknown')

In [39]:
df['bodily_injuries'].unique()

array([1, 0, 2])

In [40]:
df['witnesses'].unique()

array([2, 0, 3, 1])

In [41]:
df['police_report_available'].unique()

array(['YES', '?', 'NO'], dtype=object)

In [42]:
df['property_damage'] = df['property_damage'].replace('?', 'Unknown')

In [43]:
df['total_claim_amount'].unique()

array([ 71610,   5070,  34650,  63400,   6500,  64100,  78650,  51590,
        27700,  42300,  87010, 114920,  56520,   7280,  46200,  63120,
        52110,  77880,  72930,  60400,  47160,  37840,  71520,  98160,
        71500,   9020,   5720,  69840,  91650,  75600,  67140,  29790,
        77110,  64800,  53100,  60200,   5330,  62300,  60170,  40000,
        97080,  51660,  51120,  56400,  55120,  62800,   7290,  76600,
        81800,   7260,   4300,  70510,   2640,  78900,  56430,   2400,
        65790,  62920,  69480,  44280,  56300,  68520,  59130,  82320,
        89700,  33930,  68530,  68310,  61290,  30100,  57120,  42930,
        51210,  89400,  59730,   8060,  72200,  50800,   6600,   7500,
         6490,  60940,  58300,  68400,  64240,   4700,  45120,  66950,
        98340,   5900,  70680,  93720,   6930,  64890,   5400,   5600,
        79300,  52800,  28800,   2970,  93480,   4320,  79800,  74200,
        70590,  74700,  70000,  81070,  57720,   7080,  47700,  51260,
        70400,  90000,  72820,  69300,  76560,  55440,  77130,  42000,
        36300,  40320,   3960,  63840,  44730,  84720,  61500,  51000,
        46800,  78120,  69200,   3690,  65500,  76120,  73560,  52030,
         5170,   8190,  70800,  45630,  99320,  64000,  47300,  71680,
       112320,  82720,  48060,  63570,  63240,  54240,  37280,  72100,
        78240,   6200,   6160,  76050,  86060, 107900,  99990,  61380,
        71280,   5940,   6700,  51740,  53600,  44910,  48100,   6100,
        79600,  77040,  62590,  85150,   4950,  51100, 100800,  90970,
        81840,  54900,  88660,  18000,   5500,  73920, 101860,   5390,
        50490,  55500,   7040,  40160,  55680,   5300,   5200,  59400,
         2520,   5760,  76700,   5920,  64350,  19080,  54400,  59800,
        72000,  65070,   8800,   6120,  34320,  53460,  81360,   7200,
        70290,  60190,  28100,  49060,  57060,  73500,  88920,  47630,
        59040,  79530,  53680,  33550,  69100,  79750,  41130,  71060,
        38830,  53500,  73700,   6300,  65400,   3200,  75400,  58140,
        98670,  80850,   7480,  53640,  63250,  50500,  57690,  47790,
         3850,  59000,  70600,  61490,  57640,   6890,  53280,  78300,
        41490,  68970,  85300,   3080,  71760,  59700,  64920,  37530,
        64080,  60390,  70900,  46560,   4730,   6820,  59900,  79560,
        63910,   6400,  66780,   8760,  94160,  51570,  52700, 101010,
        53400,  72120,  77100,   3300,  63720,   7680,  93730,  87300,
         5670,  65800,  36720,  59100,  77440,  45700,  80740,  31350,
        35000,  68000,  84500,  75500,  90600,  64320,  31700,  74280,
        80520,  63600,  32800,  44190,  50400,  88400,  66550,  65780,
        51810,  55660,  44640,  77660,   5640,   3190,  53440,  65250,
        87100,  50380,  57860,   6240,  66600,  70920,  39480,  67650,
        64900,  35900,  52200,  78000,  67200,  68760,  65040,  82800,
        61700,  78100,  65520,   4500,  42700,   5580,   3600,   2800,
        54000,  48950,  77800,  52560,  44110,  74360,  62280,  26730,
        66200,  45500,  53040,  44200,  49950, 100210,  49140,  66840,
        62460,  62810,  54160,  48400,  51480,  51700,   5220,  73320,
        74900,  76920,  77990,  59670,  44880,  82830,  84480,  53020,
        24200,  43230,   5850,  94560,   7800,  61270,  71440,  55600,
         5000,  95810,  81120,  91260,  60600,  66880,  58200,  60570,
        69680,  55700,  62370,  54340,  55170,  58500,  59940,  73400,
        41850,  57330,  81960,   3770,   7400,  54810,  49400,  68750,
        76890,  56070,  56000,   4290,  60750,  48730,  95150, 103560,
        79500,  76230,  59520,  47760,  84590,  61650,  81400,  58410,
        38610,  57600,  53190,  64620,  90480,  55900,  63800,  58160,
       104610,  69850,  62900,  81500,  50000,  48290,  59070,  63300,
         2250,  54120,  80280,   4680,  39720,  63580,  73370,  86790,
        49800,  42900,  53820,  53370,  61600,  74160,  80100,   6560,
        58800,  53730,  35750,  42840,  87960,  47800,   3840,  77000,
        88110,  47740,  58960,   2160,  78870,   2700,  75960,  75570,
        90240,  80960,  79080,  52400,  61400,  74140,  83160,  10790,
        48070,  51030,  43280,  76400,  75460,  69000,   8640,  67210,
        42500,  86400,   4620,  41700,  77330,   5160,  24570,  84100,
        61560,  44240,  57700, 108030,  54300,  32280,  84600,  69700,
        36400,  37520,  79090,  67770,  47400,  71100,  69400,  55000,
        51090,  64200,  67320,  85020,  68090,   6030,   5100,   4590,
        72400,  65100,  64260,  79970,  56610,  54450,  61920,  43700,
         4400,  71640,  61740,  57500,   8700,  54890,  74030,   4900,
        77770,  40600,  45270,  47080,  40700,  78980,  85250,  72840,
         6050,  87890,  60500,  88220,  53800,  54360,   2860,   5490,
         7370,  41520,  89650,  39690,  62260,  51920,  57100,  68300,
         5060,  69930,  77700,  91080,  48360,  95000,   3900,  60210,
        43600,  59500,  41690,  63100,  62880,  66240,  65440,  32320,
        33480,   4200,  57970,  32480,  60480,  40260,  95900,  56160,
        63030,  63470,  44440,  77200,  57000,  55110,  74400,  35300,
        41580,  79320,  82610,  78600,  51390,  70200,  66480,  55400,
        49900,  74880, 105820,   7150,  55800,   5830,  85900,   7110,
        36960,  64400,   1920,  86130,  82170,  50300,  66660,  78320,
       105040,  50700,  51840,  55200,   9100,  67600,  40800,  81240,
        29300,  76450,  90530,   8030,  63900,  38640,  87900,  82060,
        52290,  68200,  65560,  45000,  61800,  64570,  70500,  57900,
        37800,  31680,    100,  56340,  69740,  80880,  49390,  69360,
         3740,  35860,  50050,  28440,  45540,  38700,  57240,  44400,
        92730,  30700,  56600,  34800,  73260,  48000,  73800,  78200,
         3520,  72900,  70700,  74800,   4100,  45100,  57310,  84920,
        61050,  69080,   4560,  67800,   9000,  85320,  51370,  51600,
        48870,   5590,  54960,  39800,  68580,  90860,   5700,  94930,
        56320,  83490,  49410,  58850,  82400,  47430,  59300,  66900,
        40810,  52650,  42240,  59490,   7700,  61440,  58560,  67300,
        36740,  85690,  34160,  61320,  79680,  52250,  53900,   8970,
         6000,  64680,  59200,  40500,  60000,  75690,  64300,  65430,
        42680,  87780,  72800,  71190,  62640,  69630,  76010,  44220,
        57200,  75790,  32670,   3870,  91520,  74690,  55260,  51400,
        48780,  52380,  71800,  68240,  46860,  78500,  70830,  68040,
        43560,  60840,  68160,  89520,  45180,   7590,  80080,   4800,
        90400,  54200,  51800,  49100,  98280,  54560,  61100,  51900,
         3440,  76900,  60320,  60700,  34290,  46980,  36700,   6480,
        87200, 108480,  67500])

In [44]:
df['injury_claim'].unique()

array([ 6510,   780,  7700,  6340,  1300,  6410, 21450,  9380,  2770,
        4700,  7910, 17680,  4710,  1120,  4200, 10520,  5790, 14160,
        6630,  6040,     0, 17880,  8180,  7080, 16500,  1640,  1040,
        7760, 14100, 12600,  7460,  3310, 14020, 10800, 10620,  6020,
        1230, 12460, 10940,  8000, 16180,  5740,  5680, 11280,  6890,
        6280,   810, 15320, 16360,  1320,   430, 12820,   480, 15780,
         300,  7310, 11440, 15440,  7380,  5630, 11420,  6570, 13720,
       13800,   860, 12420,  6810,  3010,  9520,  9540, 11380, 14900,
       10860,  1240, 14440, 10160,   660,   750,  1180,  5540,  5830,
       11400, 11680,   940, 10300,  8940,   590,  5890, 17040,  1260,
        7210,   900,   700, 15860, 10560,   330, 15580,  6650,  7420,
        7470, 14000, 14740, 14430,  4770,  9320,  6400, 18000, 13240,
       13860, 12760,  8570,  7000,  3300,  5760, 10640,  4970, 14120,
        6150,  8500,  4680, 17360, 13840,   410,  6550, 12260,  9460,
         470,  1890,  5070,  7640, 12800,  4730,  8960, 17280,  7520,
       10680,  9780, 10540,  9040, 13040,   560, 11700, 10790, 18180,
       11160, 12960,   670, 11940,  6700,  4990, 11100,   610, 15920,
        8560, 13100,   450, 10220, 16800, 16540, 14880,  5490,  8060,
        2250,  1100, 13440, 18520,   980,  5610,  5550,  1280,  5020,
        6960,   530,   650,  5940,   280,   960,  7670,   740,  7150,
        4240,  5440,  5980,  7200,  7230,  1760,  1020,  8580,  9720,
        6780,  7370,  5260,  1440, 12780,  9260,  2810,  8920, 12980,
        7350,  6840, 12990,  6560, 14460,  4880,  3050,  6910, 14500,
        5360,  4570, 14300,  6460,  3530,  5350,   630, 10900,   640,
        7540, 15180,  5040,   680,  5960,  5750,  9840, 10100,  5310,
         350,  5900,  7060,  5590,  5240,  1060, 11840, 15660,  4610,
       12540, 17060, 11040, 10820,  4170,  7120, 10980,  5850, 14180,
       11980, 13260,  5810,  1460,  5730, 15540,  5340, 12020,  7710,
         600,  1080, 14420, 17460, 13160,  4080,  4800,  5910, 14080,
        7340,  2850,  3500, 13600, 13000,  7550, 15100, 12380, 13420,
        6360,  3280,  9820, 10080, 12100,  9420,  5060,  9920,   580,
        7250,  4920,  7810,  8710,  4580, 16650, 11820,  6580, 12300,
       14840,  7180,  5220,  6500,  6720, 11500, 11460, 10840, 20700,
        6170, 15620,  9360,   620,   360,  6000,  4450, 15560,  4010,
       13520,  5190,  4860,  6620,  9100,  4420,  6270, 18220,  5460,
       16710,  6940,  6770,  9680,  5720,  5170, 10920,  6110, 14980,
        7090,  9180,  8160,  7530,  7680, 15960,  9640,  2200,  7860,
         290, 11580,  7880,  5570,  8930, 11120,  1000,  6930, 14040,
        6060,  6480,  6080,  5820,  6730,  5670,  9880,  6130,  6660,
        4650,  6370, 13660,  6090,  4940, 12500,  6990,  6230,  6750,
        4430, 17300, 13300,  8630, 15900,  5970, 15380,  6850,  8140,
        3510,  9600, 15080,  6380,  7270, 19020, 12700, 12580, 16300,
       15000,  8780,  5370, 12660, 11960, 11600,   250,  4510, 13380,
         520,  5780, 13340,  7890,  9960,  7040, 12740,  5930,  6160,
        6180,  8900,   820, 11760,  5050,  3570, 14660,  4780, 16020,
        4340,  7170,  6330,  6870, 15040, 14720,  6590,  5690,  6140,
       13480,  1660,  8740, 15280, 12220,  4250, 14400,   840,  8340,
       14060,  2730,  3900, 16820,  5530, 11540, 16620,  5380, 16920,
        6970,  3640,  4690, 14380,  9480,  7110, 13880,  5000,  6420,
       12240,  6920, 13080,   510,  7240,  6290,  7690,   500,  6050,
        6880,  4370, 10000,  6860,   870, 15420,  6600,  9980, 11180,
         490, 14140,  4060, 10060,  4280,  4070,  6300,   400, 15500,
       12140, 15980, 11000, 16040,  9760,  4530,  5080,  8150,  5660,
        9440,  5710,  6830,   460,  7770, 16560,  4030,  9500, 11880,
        6690,  8720, 11900,  7580,  6310, 17400, 10700,  4040,  3720,
         440,   550,  4270,  3660, 13700,  6240,  5770,  8080,  1200,
        9650,  4300,  5010,  4630,  3780, 13220,  7510,  7020,  9900,
       12480, 16280, 17180,   790,  6440, 14940, 16160,  8640,  5280,
        9200,  1400,  6800, 13020,  2930,  6950, 16460,  6390,  4830,
        9220, 17580, 14920, 12400, 13500, 11920, 12360,  5870,  7050,
       17370,  8400,  8840,  3520,    10,  6260,  6740,  8980, 11560,
        3260, 10740,  3160,  8280,  7740, 16860,  3070, 11320,  3480,
        7950,  5600, 10440, 15640, 14580,  7070,  5470,   720,  8200,
       12120, 10600,  5210,  7720, 12560,   760, 11300, 21330,   540,
        9340, 10320,  5430,  7960,  5270,  7620,   570,  7590,  8240,
       13640,  7100, 11860,  3710,   420,  6610,   770, 10240,  3340,
       13280,  5390,   220,  1380,  4050, 11220,  8410,  6430, 14540,
        3880,  7980, 14560, 13820,  8040,  5200, 13780,  8320,  6790,
       13200,  5140,  5420, 14360,  8530,  8520, 15700,  7870, 15120,
        5300,  4840, 11360,  9020, 12320,   390,  5180, 13560,  4440,
       15400,  9280,  5920,  3810,  3670, 17440, 18080,  7500])

In [45]:
df['property_claim'].unique()

array([13020,   780,  3850,  6340,   650,  6410,  7150,  9380,  2770,
        4700, 15820, 17680,  9420,  1120,  8400, 10520,  5790,  7080,
       13260,  6040,  5240,  4730,  5960, 16360, 14160, 11000,   820,
         520, 15520, 14100, 12600,  7460,  3310, 14020,  5400,  5310,
        6020,  6230, 10940,  4000, 16180,  5740,  5680, 11280,     0,
        6280,   810,  7660,  8180,   660,   430, 12820,   480,  7890,
        6270,   300,  7310,  5720,  3690, 11260,  5710,  6570,  6860,
       13800,  3770,   860,  6210,  6810,  4760,  4770,  5690,  7450,
       10860,  1240,  7220, 10160,  1320,  1500,  1180, 11080, 11660,
       11400, 11680,   470,  5640, 10300, 17880,   590, 11780,  8520,
         630,  6630,  7210,   900,   700, 15860,  5280,  3600,   330,
        7790, 19950, 14840, 14940,  7000, 14740,  9620,  9540,  9320,
       12800,  9000,  6620, 13860, 12760,  6160, 17140,  9900,  5760,
       10640,  4970, 14120, 12300,  8500,  9360,  8680,  6920,   410,
        6550, 12260,   940,  1260,  5070, 15280,  6400,  8960, 17280,
       15040,  5340,  9780, 10540,  9040, 14420, 13040,   620,  1680,
       11700, 13240, 21580, 18180,  5580, 12960,   670,  7960,  6700,
        4990,  7400,  1220, 15920,  8560, 11380, 13100,  5110, 16800,
       16540,  7440,  5490, 16120,  2250,   550,  6720, 18520,   980,
        5610, 11100,   640,  6960,   530, 11880,   280,   960,  7670,
         740,  2120,  5440,  5980,  7200, 14460,   880,  1020,  4290,
        9720, 13560,   720,  6390,  9260,  5620,  8920, 12980, 14700,
       13680,  4330,  6560,  7230,  4880,  6100,  6910, 14500, 10720,
        6380,  4570, 12920,  3530,  5350,  7370, 10900,   320, 15080,
        6460, 15180, 10080,   680, 11500,  9840,  5050,   350,  5900,
       11180, 10480,  1060,  5920,  7830,  4610,  8530, 11040, 11940,
       10820,  4170,  7120,  7090,  7760,  5990, 11620,  7420,  1460,
       17120, 11460, 15540, 12020, 15420,   540, 21240, 21630, 17460,
        6580,  4080,  9600,  5910,  7040, 14680,  5700,  6800, 13000,
       15100,  3170, 12380,  6710, 12720,  3280,  4910,  5040,  8840,
        6050, 11960,  4710, 10120,  4960,   580,  6680,  7250,  4920,
        7810,  8710,  4580,  6480, 11820,  5270,  6150,  3590, 10440,
        5750,  5730, 10840,  6170,   450,  6000,  8900, 15560,  5840,
        8020,  6760, 10380,  4860,  4550,  4420,  5080,  5550, 18220,
        5460,  5570,  6940, 11420,  6770,  4840, 10340, 12220,  7490,
         290, 14180,  9180, 15060, 15360,  7980,  9640,  4400,  7860,
       11580, 15760, 11140,  8930,  5560,   500, 20280, 14040, 12120,
       12160,  5820,  6730,  5670,  6130,  5850,  6660,  7340,  4650,
        1280,  6370, 13660, 19200,  1480,  6090,  9880,  6250, 13980,
       12460,   390,  6750,  4430, 17300,  6650, 17260,  7950,  9920,
        5970,  7690,  6850,  8140,  3510,  5590,  7270, 19020,  6350,
        6290,  8150,  5000,  8780,  5370,  6330, 11600,   250,  9020,
       13380,  5780,  6670, 23670,  4980, 14080,  5930, 14520, 12320,
       12360,  5880, 10100,  3250,  7140, 14660,  4780, 16020,  4340,
         240, 14340, 13740,  7360, 13180, 11560,  6140, 13480,   830,
        8740, 11340,  5410,  7640, 13720,  6900,  4250,   840,  8340,
       14060,  2730,  9760,  3900,  8410,  6840,  5530,  5770, 16620,
        5430,  5380,  8460,  6970,  7280,  4690, 14380,  4740, 14220,
       10000, 19260, 12240, 13840, 13080,   510, 14480,  6510, 14280,
       21810,  6500,  1000, 12100,  6880,  4370,  1740,  7710,  6600,
       13460,   490, 14140,  4060, 10060,  4070,  3150,   400, 14360,
        7750,  6070,  1100,  7990,  5500, 16040,  9060,  4940,   260,
        1340,  5190, 16300,  5660,  4720,   920, 13200, 12500, 16560,
        8060,  9500,  5940,  6690,  4360, 12560,  5950,  7580, 12620,
       10700,  4040,  3720,   420,  6930,   440,  4270,  7320, 20550,
       12480, 11540,  1200,  9650,  8600, 10020,  7560,  6610,  7510,
       19650,  7020,  1470,  9160,  9980, 16280, 11160, 17180,  1580,
        3360,  6440,  7470,  5030,  6060, 14240, 16160,  8640,  1400,
       20310,  5860, 13900, 16460,   730,  4830,  7190,  8790,  9460,
       12400, 11920, 12780,  6180, 11740,  4200,  3520,    20,  6260,
       15120,  4490,  6520,  3160,  8280,  3870,  8430,  5600,  5220,
        7820,  9200, 14580,  1440,  4100, 10600, 10420, 15440,   380,
       11300,   560,  1800,  7110,  1080,  4670,  5160,   600,  3980,
        6240,  7620, 19470,   570,  8630, 10680,  4450,  8240,  6780,
        6820,  7100,  7540,  7680,  1540, 10240, 10880, 15580, 10220,
       13280,  5120,  4750, 10780,  1380,  5520, 11760, 11840,  4050,
       11220,  6430, 14560,  7910,  4020, 10400,  6890,  2970, 16640,
       13580, 10280, 13520,  7850,  7870, 11360, 14920,  5020,  4510,
       15660,  4800,   690, 12580, 10360,  6740,  8880, 15380,  7700,
        9280,  3810,  8720, 18080,  7500])

In [46]:
df['vehicle_claim'].unique()

array([52080,  3510, 23100, 50720,  4550, 51280, 50050, 32830, 22160,
       32900, 63280, 79560, 42390,  5040, 33600, 42080, 40530, 56640,
       53040, 48320, 41920, 33110, 47680, 73620, 44000,  6560,  4160,
       46560, 63450, 50400, 52220, 23170, 49070, 48600, 37170, 48160,
        3280, 43610, 38290, 28000, 64720, 40180, 39760, 33840, 48230,
       63090, 50240,  5670, 53620, 57260,  5280,  3440, 44870,  1680,
       55230, 50160,  1800, 51170, 45760, 54040, 33210, 39410, 51390,
       45990, 61740, 62100, 30160, 49840,  2580, 49680, 47670, 27090,
       42840, 28620, 34140, 67050, 38010,  5580, 50540, 30480,  4620,
        5250,  4130, 44320, 40810, 45600, 40880,  3290, 39480, 46350,
       71520,  4720, 53010, 68160, 59670, 50470,  3600,  4200, 47580,
       36960, 25200,  2310, 70110,  3360, 53200, 51940, 48870, 52290,
       49000, 51590, 33670, 33390, 32620, 51200, 63000, 52960, 41580,
       51040, 49280, 51420, 28800,  2970, 42560, 34790, 56480, 43050,
       34000, 32760, 48440,  2870, 52400, 55360, 49040, 37840,  3760,
       49560, 35490, 76400, 44800, 53760, 77760, 60160, 32040, 44010,
       42160, 36160, 37280, 52160,  4340,  3920, 52650, 59580, 75530,
       63630, 44640, 45360,  5360, 31840, 40200, 34930, 29600,  4270,
       47760, 59920, 39830, 58950, 35770, 67200, 57890, 59520, 43920,
       64480, 13500,  3850, 64820,  3430, 39270, 38850,  5120, 35140,
       41760,  4240,  3900,  1960,  3840, 61360,  4440, 12720, 43520,
       47840, 57600, 43380,  6160,  4080,  5310, 21450, 34020, 61020,
       58960, 47340, 51120, 41670, 19670, 31220, 44380, 51920, 51450,
       68400, 30310, 45920, 57840, 24400, 55280, 50750, 37520, 57420,
       31990, 57200, 51680, 31770, 42800, 43600,  2240, 52780, 45220,
       68310, 40320, 58800,  6120, 41720, 46000, 39360, 35350, 38460,
        3150, 47200, 49420, 44720,  4770, 35520, 54810, 32270, 59710,
       35820, 43280, 29190, 46800, 49630, 31040,  3010, 41930, 46480,
        5840, 68480, 34380, 31620, 69930, 42720, 48080, 53970,  2700,
        4320, 35400,  5760, 57680, 52380,  3780, 46060, 28560, 38400,
       47280, 56320, 36560, 58720, 22800, 24500, 47600, 58500, 52850,
       60400, 48240, 22190, 49520, 60390, 44520, 26240, 29460, 35280,
       61880, 48400, 37680, 40480, 29760,  2030, 46760, 34440, 54670,
       69680, 41220, 26320, 47430, 49200, 38940, 25130, 36540, 51570,
       43360, 48300, 49360, 36600,  2520, 42000, 35600, 46680, 35040,
       32080, 54080,  4760, 46710, 17010, 31850, 44200, 35560, 35360,
       43890, 63770, 38220, 44560, 48580, 39970, 40620, 33880, 40040,
       36190, 49140,  4060, 54990, 52430,  2320, 57690, 56720, 41310,
       32640, 60240, 61440, 55860, 33740, 17600, 27510,  4960, 46320,
       70920,  6240, 53580, 38920,  3500, 66330, 48510, 47320, 63180,
       42420, 48640, 47110, 52260, 38990, 51030, 44460, 42910, 40950,
       46620, 32550,  4480, 44590, 54640,  2610,  5180, 42630, 34580,
       50000, 55920, 37380,  3120, 47250, 39870, 60550, 59850, 77670,
       55650, 55440, 39680, 61520, 47950, 65120, 42480, 31590, 35460,
       57440, 60320, 43620,  4410, 66570, 50800, 44030, 46410, 57050,
       30000, 30730, 48330, 44310, 41860, 52200,  1750, 40590, 53520,
       26480, 52020, 53360, 34860, 34320, 35880, 41510, 38720, 43120,
       55620, 62300,  4920, 41160, 45450, 26000, 32130, 58640, 38240,
        2560, 56000, 56070, 39060, 42880,  1440,  5300, 57360,  2100,
       63300, 54960, 58880, 59310, 45520, 39300, 46240, 49120, 47180,
       62370,  8300, 30590, 37870, 53480, 48020,  6480, 42770, 64800,
        2940, 25020, 49210, 19110, 39040, 35100, 58870, 47880, 33180,
       40390, 74790, 21520, 59220, 55760, 25480, 28140, 50330, 45180,
       49770, 40000, 35370, 38520, 58860, 43330,  4690,  3570, 50680,
       49980, 50890, 69210, 52000,  4000, 36300, 34960, 35000, 53730,
        6090, 46200, 39920, 53840, 39130, 49490, 32480, 25150, 34240,
       32560,  2400, 62000, 54630, 63920, 56140, 43040, 40770, 39520,
        2080, 40640, 31140, 65200, 39690, 50940, 37760, 38880, 45680,
       47810,  3680, 39600, 54390, 43750, 57960, 36270, 76000,  2730,
       46830, 30520, 43960, 41650, 26530, 44170, 47160, 46400, 44160,
       49080, 24240, 26040,  2880, 24360, 47040,  1760,  4400, 34160,
       29280, 61650, 37440, 45840, 46160, 32320, 57900, 34400, 40080,
       28240, 46300, 30240, 59490, 67590, 45850, 56160, 49860, 36640,
       44550, 38780, 49920, 73260,  5200, 33480,  3710, 51540,  4740,
       26880, 51520, 62640, 59760, 35210, 30940, 54540, 56960, 72720,
       40560, 34560, 42240, 32200,  6300, 27200, 54160, 20510, 55600,
       57610, 28980, 27660, 57520, 61530, 59680, 32240, 43400, 40500,
       44730, 43260, 46960, 49350, 34740, 50640, 24640,    70, 43820,
       57060, 60660, 35920,  2380, 26080, 38500, 42960, 22120, 42930,
       42120, 33300, 67440, 21490, 39620,  2640, 63600, 56980, 54740,
        3640, 43740, 43760, 54400, 32800, 48480, 37100, 41680, 41300,
       42350, 61760, 44400,  3420, 45200, 56880, 37360, 36120,  3870,
       48090, 27860, 43680, 36890, 53340, 58410,  4560, 60720, 38430,
       29750, 37450, 65920, 40680, 59360, 47740, 49700, 29680, 46270,
        5390, 40960, 38080, 26720, 54530, 29890, 53120, 38000, 37730,
        1980,  6210, 38640, 47360, 55520, 32400, 45000, 44880, 51440,
        4500, 71820,  2800, 32160, 41600, 55120, 23760, 66560, 54320,
       35980, 32520, 40740, 43080, 29820, 54950, 55090, 47700, 45440,
       31570, 52920,  5520, 72320, 37940, 36260,  4800, 53920, 47460,
       34370, 75600, 39960, 53830, 34720, 67230, 36330, 34260, 53900,
       42490, 26670, 25690,  4860, 61040, 52500])

In [47]:
df['fraud_reported'].unique()

array(['Y', 'N'], dtype=object)

In [48]:
df['policy_state'].unique()

array(['OH', 'IN', 'IL'], dtype=object)

In [49]:
df['incident_state'].unique()

array(['SC', 'VA', 'NY', 'OH', 'WV', 'NC', 'PA'], dtype=object)

In [50]:
df['incident_type'].unique()

array(['Single Vehicle Collision', 'Vehicle Theft',
       'Multi-vehicle Collision', 'Parked Car'], dtype=object)

In [51]:
df['collision_type'].unique()

array(['Side Collision', 'Unknown', 'Rear Collision', 'Front Collision'],
      dtype=object)

In [54]:
df['capital_loss_abs'] = df['capital-loss'].abs()

In [53]:
df.to_csv('../Data/Clean_insurance_claims.csv')